<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:caching="http://easyec.googlecode.com/schema/cache"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://easyec.googlecode.com/schema/cache http://easyec.googlecode.com/schema/cache/cache.xsd"
       default-lazy-init="true">

    <aop:aspectj-autoproxy/>

    <caching:aspectj-config id="defaultCacheAspect" order="1"/>

    <bean class="com.googlecode.caching.service.service.impl.MyServiceImpl"/>
</beans>
